section {
    margin:15px 10px 40px 10px;
    width:405px;
    height:290px;
    background:silver;
    border:5px dotted #000;
}
#drop {
    width:405px;
    height:290px;
    background:salmon;
    margin:15px 10px 30px 10px;
    border:5px dotted #000;
}
.drag {
    width:160px;
    height:100px;
    margin-top:10px;
    margin:20px 20px;
    display: inline-block;
}

.header_text {
    margin:30px 10px;
}
       